@import "@/app/styles/partials/_variables";

.CtaSubscribeContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    background-color: $primary-color;
    padding: 16px;
    border-radius: 16px;

    color: #FFFFFF;

    h1 {
        font-size: 20px;
        line-height: 32px;
        font-weight: 700;
    }

    footer {
        width: 100%;
        margin-top: 24px;
        padding: 16px;
        background-color: #FFFFFF;
        border-radius: 14px;
        color: $primary-color;
    }

    label {
        display: none;
    }

    input {
        padding: 16px;
        width: 100%;
        border-radius: 8px;
    }

    input[type="text"] {
        border: 1px solid $neutral-color;
        color: $neutral-color;
    }

    input[type="submit"] {
        margin-top: 16px;
        border: none;
        background-color: $primary-color;
        color: #FFFFFF;
    }

    @media screen and (min-width: $breakpoint-mobile) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 32px;

        header {
            padding-right: 16px;
        }

        footer {
            margin: 0;
        }

        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;
        }

        input {
            padding: 14px 28px;
        }

        input[type="text"] {
            flex: 3;
        }

        input[type="submit"] {
            margin-top: 0;
            flex: 1;
        }
    }
}

.NavContainer {
    padding: 32px 0 12px;
}