@import "@/app/styles/partials/_variables";
@import "@/app/styles/partials/_mixins";

.FooterSection {
    display: flex;
    flex-flow: column;
    align-items: center;

    padding: 32px 0;
    background-color: $complimentary-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    @media screen and (min-width: $breakpoint-mobile) {
        padding: 64px 0;
    }

    .SectionWrapper {
        margin: 0 16px;

        @media screen and (min-width: $breakpoint-mobile) {
            @include ContainerBreakpointMobile();
        }
    
        @media screen and (min-width: $breakpoint-desktop) {
            @include ContainerBreakpointDesktop();
        }
    }

    hr {
        margin-top: 24px;
        width: 100%;
        border: none;
        border-bottom: 1px solid $neutral-color-20;
    }
}

.BottomPart {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    small, a {
        color: $neutral-color-60;
    }

    .FooterLogo {
        margin-top: 30px;
        max-width: 120px;
        width: 115px;
        height: 40px;
    }

    @media screen and (min-width: $breakpoint-mobile) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0 0;
        width: 100%;

        .FooterLogo { margin-top: 0; order: 2 }
        .Terms { order: 3; display: flex; align-items: center; }
        .Copy { order: 1 }
    }
}