@mixin Button {
    border-radius: 57px;
    padding: 14px 28px 10px;
    
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

@mixin ContainerBreakpointMobile {
    margin: 0 32px;
}

@mixin ContainerBreakpointDesktop {
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}