$primary-color: #003459;
$secondary-color: #F7DBA7;
$complimentary-color: #FCEED5;
$neutral-color: #99A2A5;

$neutral-color-20: #CCD1D2;
$neutral-color-40: #99A2A5;
$neutral-color-60: #667479;

$breakpoint-mobile: 600px;
$breakpoint-desktop: 1024px;
 
:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  complimentaryColor: $complimentary-color;
  neutralColor: $neutral-color;
}