@import "@/app/styles/partials/_variables";
@import "@/app/styles/partials/_mixins";

.ProductListSection {
  margin-top: 24px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  
  @media screen and (min-width: $breakpoint-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: $breakpoint-desktop) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.ViewMoreBottomContainer {
  @media screen and (min-width: $breakpoint-mobile) {
    display: none;
  }
}

.ViewMore {
  margin-top: 24px;

  @include Button();
  border: 1px solid $primary-color;
  color: $primary-color;
  justify-content: center;
  width: 100%;
}